
<div class="user-details">
  <h1> {{site.companyname_about}} </h1>
  <p> {{site.companyname_description}} </p>
</div>

  <div class="user">
  
 
  
    <div class="tech">
      <h2>商号</h2>
     <!--
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      -->
      <p>創業</p>
      <p>設立</p>
      <p>資本金</p>
      <p>本社所在地</p>
      <p>代表者	</p>
      <p>従業員数	</p>
      <p>事業内容	</p>
      <p>売上</p>
      <p>税務署</p>
    </div>
    <div class="tech">
      <h2>takagotch株式会社 (Activate-d LLC)</h2>
      <!--
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      -->
      <p>2018年(令和1年) 01月</p>
      <p>2019年(令和2年) 01月</p>
      <p>1000万円以下</p>
      <p>Osaka, Nanko</p>
      <p>Takashi Yoshioka</p>
      <p>個人(アルバイト・パート含む)</p>
      <p>システム開発、メディア事業、通信販売、仮想通貨取引所、配信事業	</p>
      <p>326万(2019)</p>
      <p>住吉税務署</p>
    </div>


   <!--
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  -->
    
   
  </div>

  <div class="user2">
    <div class="tech1">
     <h2>Web Application(Tkgcci-CORE) | ウェブアプリケーション</h2>
     <!--
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      -->
      <p>ウェブアプリケーションを開発しています。Github社のPageをレンタルサーバー代わりにVMサイトを公開しています。
      <a href="https://takagotch.github.io/">こちら</a>。このサイトにデータベース処理を加えたものはherokuやsakuraVPSで公開していますが、リンクは公開していません。
      </p>
    </div>
    
    <div class="tech2">
      <h2>Mobile Application | モバイルアプリケーション for Googleplay</h2>
      <!--
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      -->
      <p>モバイル端末はGoogle PlayバージョンとIOSがあります。</p>
    </div>
    
    <div class="tech3">
      <h2>Mobile Application | モバイルアプリケーション for IOS</h2>
      <!--
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      -->
      <p>
        モバイル端末はGoogle PlayバージョンとIOSがあります。
      </p>
    </div>
    
    <div class="tech4">
     <h2>API認証とトランザクション機能と公開認証をベースに金融取引</h2>
      <p>ウェブアプリケーションを開発しています。Github社のPageをレンタルサーバー代わりにVMサイトを公開しています。
      <a href="https://takagotch.github.io/">こちら</a>。セキュリティー上現在リンクは公開していません。
      </p>
    </div>
    
  </div>

