<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.companyname}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="https://mail.google.com/mail/u/0/#inbox"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://instagram.com/takagotch"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
<!--
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/takagotch"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
-->
        <a aria-label="My Google Plus" target="_blank" href="https://www.facebook.com/pg/tkgcci/posts"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/takagotch"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Takagotch Co.ltd</a>
        <a class="link" href="#projects" data-scroll> Our the latest INFO </a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>


