<div class="user-details">
  <h1> トピックスリリース｜Activate-Dからのお知らせ </h1>
</div>





<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/covid.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 新型コロナウイルス感染拡大防止への取り組み | 事務部 </h3>
    <ul>
      <li>
      2020年11月20日
      <!-
      Published on {{ page.date | date: date_format }}
           page85  texture; bundle install
           https://github.com/takagotch/page85 
      ->
      </li>
    </ul>
    <p>
    新型コロナウイルス感染拡大の防止策、感染リスク低減策としての取り組みを行っています。
      
    </p>  
    
    <a class="project-link" href="#">HOME</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/pdf/pdf1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 利用規約を定めました。 | 事務部 </h3>
    <ul>
      <li>
      2020年11月20日
      <!-
      Published on {{ page.date | date: date_format }}
           page85  texture; bundle install
           https://github.com/takagotch/page85 
      ->
      </li>
    </ul>
    <p>
    Activate-dの業務拡大とサービスの拡大にともない、利用規約（以下「本規約」といいます）を定めました。
    利用規約については利用規約更新情報ページに掲載いたしました。
    </p>  
    
    <a class="project-link" href="#">HOME</a>
  </div>
</div>




<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr10-1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ショッピングパーク<strong>「楽吉楽座」|「闇吉闇座」</strong>を開設しました。 | システム開発部 </h3>
    <ul>
      <li>
      2020年11月04日
      <!-
      Published on {{ page.date | date: date_format }}
           page85  texture; bundle install
           https://github.com/takagotch/page85 
      ->
      </li>
    </ul>
    <p>
    この度、オンライン大型ショッピングモール「楽吉楽座」インターネット店をオープンしました。
    楽めきポイント、楽eonマネーなどの独自マネーが付与されます。
    </p>
    <p>
    ・<a href="https://takagotch.github.io/page65/blog/">かんたん決済<a>は以下のリンクから
     <a href="https://takagotch.github.io/page63/shop/?fbclid=IwAR07RxGRFk4UvMN0hQLE5LK4SNw5e8BvJd4yx7mCrnSlk7Rrro_0zjwakFw#/">「闇吉闇座」へ入会する</a>
    </p>
    <p>
    電子機器を中心に <br/>
     ファッションまで品ぞろえ。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>




{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr9-1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> かんたん決済を導入しました。 | システム開発部 </h3>
    <ul>
      <li>
      2020年11月03日
      <!-
      Published on {{ page.date | date: date_format }}
           page85  texture; bundle install
           https://github.com/takagotch/page85 
      ->
      </li>
    </ul>
    <p>
    この度、PAGE65販売促進ページにかんたん決済を導入しました。
    主に、クレジットカード決済となります。
    サービス概要は、PayPal社からの支援を得てサービスを竣工できたことを心よりお礼申し上げます。
    </p>
    <p>
    ・<a href="https://takagotch.github.io/page65/blog/">かんたん決済<a>は以下のリンクから
     https://takagotch.github.io/page65/blog/
    </p>
    <p>
    ・ご用意していただくもの <br/>
    クレジットカード
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>


{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr8-1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> トランクセンター大阪南港を開設 | トランクセンター部門からのおしらせ </h3>
    <ul>
      <li>
      2020年10月20日
      <!-
      Published on {{ page.date | date: date_format }}
           page85  texture; bundle install
           https://github.com/takagotch/page85 
      ->
      </li>
    </ul>
    <p>
    この度、トランクルームを大阪南港に開設いたします。
    サービス概要は、商品の受け取りの代行、管理、発送、(現地受け取りは事前予約制)を予定しています。
    </p>
    <p>
    ・プランＡ
    W0.68×H0.45×D0.37m/0.5㎡(0.5畳)で、月々6000円プランがあります。
    </p>
    <p>
    ・価格
    月々6000円。
    支払いはクレジットカード(VISA,Master,JCB)です。
    どうぞご検討下さい。Activate-dトランクセンター部門からのおしらせでした。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr7-1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 南港データセンターを開設 </h3>
    <ul>
      <li>
      2020年10月17日
      <!-
      Published on {{ page.date | date: date_format }}
           page85  texture; bundle install
           https://github.com/takagotch/page85 
      ->
      </li>
    </ul>
    <p>
    デスクトップパソコンIntel第10世代小計10万、TR4小計30万、IntelCorei7小計15万のうち、一台をサーバーとしての活用を開始します。現在は主にレンタルサーバーとGithubなどのサービスを利用していますが、
    今回は開発用途またはバックアップサーバー向けに自宅サーバーを開設します。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr6.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 今年、デスクトップパソコン4代目を導入 </h3>
    <ul>
      <li>
      2020年09月25日
      <!-
      Published on {{ page.date | date: date_format }}
           page85  texture; bundle install
           https://github.com/takagotch/page85 
      ->
      </li>
    </ul>
    <p>
    現在デスクトップパソコン3台体制で運用していましたが、今回営業所を開設するにあたり新たにIntel nucを導入しました。これによりintel第十世代のデスクトップパソコンは南港へ移します。  
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr5.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 北浜営業所を開設しました。 </h3>
    <ul>
      <li>
      2020年09月22日
      </li>
    </ul>
    <p>
    北浜にてリモートワークを実施しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr4.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ふわっち、Twitcastingで、LIVE配信を開始しました。 </h3>
    <ul>
      <li>
      2020年09月20日
      </li>
    </ul>
    <p>
    LIVE配信プラットフォームにて配信を試験運用しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/fr3.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 長堀橋Morningboxホテルにて外出先でのキッチン利用を確認 </h3>
    <ul>
      <li>
        {{ site.time | date: "2020年09月14日"}} 
      </li>
    </ul>
    <p>
    長堀橋Morningboxホテルにて共有ラウンジ、外出先でのキッチンの利用を確認しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/fr2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 本町リゾート営業所を試験運用。 </h3>
    <ul>
      <li>
        2020年08月07日
      </li>
    </ul>
    <p>
    本町APAリゾートホテルにて、リモートワークの実施を開始しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Updated our official homepage </h3>
    <ul>
      <li>
        {{ site.time | date: "%B %e, %Y at %r %Z" }} 
      </li>
    </ul>
    <p>
    This page have been shown renewed up. We'll speak the latest information from this page.
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/fr1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 公式ホームページを更新 </h3>
    <ul>
      <li>
        {{ site.time | date: "%Y年%m月%d日%H時%m分%d秒"}} 
      </li>
    </ul>
    <p>
    当サイトをリニューアルオープン。最新情報を発信していきます。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>
