<div class="user-details">
  <h1> トピックスリリース｜Activate-Dからのお知らせ </h1>
</div>

















<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr8.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> トランクセンター大阪南港を開設 | トランクセンター部門からのおしらせ </h3>
    <ul>
      <li>
      2020年10月20日
      <!-
      Published on {{ page.date | date: date_format }}
           page85  texture; bundle install
           https://github.com/takagotch/page85 
      ->
      </li>
    </ul>
    <p>
    この度、トランクルームを大阪南港に開設いたします。
    サービス概要は、商品の受け取りの代行、管理、発送、(現地受け取りは事前予約制)を予定しています。
    </p>
    <p>
    ・プランＡ
    W0.68×H0.45×D0.37m/0.5㎡(0.5畳)で、月々6000円プランがあります。
    </p>
    <p>
    ・価格
    月々6000円。
    支払いはクレジットカード(VISA,Master,JCB)です。
    どうぞご検討下さい。Activate-dトランクセンター部門からのおしらせでした。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr7.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 南港データセンターを開設 </h3>
    <ul>
      <li>
      2020年10月17日
      <!-
      Published on {{ page.date | date: date_format }}
           page85  texture; bundle install
           https://github.com/takagotch/page85 
      ->
      </li>
    </ul>
    <p>
    デスクトップパソコンIntel第10世代小計10万、TR4小計30万、IntelCorei7小計15万のうち、一台をサーバーとしての活用を開始します。現在は主にレンタルサーバーとGithubなどのサービスを利用していますが、
    今回は開発用途またはバックアップサーバー向けに自宅サーバーを開設します。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr6.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 今年、デスクトップパソコン4代目を導入 </h3>
    <ul>
      <li>
      2020年09月25日
      <!-
      Published on {{ page.date | date: date_format }}
           page85  texture; bundle install
           https://github.com/takagotch/page85 
      ->
      </li>
    </ul>
    <p>
    現在デスクトップパソコン3台体制で運用していましたが、今回営業所を開設するにあたり新たにIntel nucを導入しました。これによりintel第十世代のデスクトップパソコンは南港へ移します。  
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr5.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 北浜営業所を開設しました。 </h3>
    <ul>
      <li>
      2020年09月22日
      </li>
    </ul>
    <p>
    北浜にてリモートワークを実施しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr4.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ふわっち、Twitcastingで、LIVE配信を開始しました。 </h3>
    <ul>
      <li>
      2020年09月20日
      </li>
    </ul>
    <p>
    LIVE配信プラットフォームにて配信を試験運用しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/fr3.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 長堀橋Morningboxホテルにて外出先でのキッチン利用を確認 </h3>
    <ul>
      <li>
        {{ site.time | date: "2020年09月14日"}} 
      </li>
    </ul>
    <p>
    長堀橋Morningboxホテルにて共有ラウンジ、外出先でのキッチンの利用を確認しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/fr2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 本町リゾート営業所を試験運用。 </h3>
    <ul>
      <li>
        2020年08月07日
      </li>
    </ul>
    <p>
    本町APAリゾートホテルにて、リモートワークの実施を開始しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Updated our official homepage </h3>
    <ul>
      <li>
        {{ site.time | date: "%B %e, %Y at %r %Z" }} 
      </li>
    </ul>
    <p>
    This page have been shown renewed up. We'll speak the latest information from this page.
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/fr1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 公式ホームページを更新 </h3>
    <ul>
      <li>
        {{ site.time | date: "%Y年%m月%d日%H時%m分%d秒"}} 
      </li>
    </ul>
    <p>
    当サイトをリニューアルオープン。最新情報を発信していきます。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>
