<div class="user-details">
  <h1> トピックスリリース｜Activate-Dからのお知らせ </h1>
</div>

















<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr5.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 北浜営業所を開設しました。 </h3>
    <ul>
      <li>
      2020年09月22日
      </li>
    </ul>
    <p>
    北浜にてリモートワークを実施しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr4.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ふわっち、Twitcastingで、LIVE配信を開始しました。 </h3>
    <ul>
      <li>
      2020年09月20日
      </li>
    </ul>
    <p>
    LIVE配信プラットフォームにて配信を試験運用しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/fr3.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 長堀橋Morningboxホテルにて外出先でのキッチン利用を確認 </h3>
    <ul>
      <li>
        {{ site.time | date: "%Y年%m月%d日%H時%m分%d秒"}} 
      </li>
    </ul>
    <p>
    長堀橋Morningboxホテルにて共有ラウンジ、外出先でのキッチンの利用を確認しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/fr2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 本町リゾート営業所を試験運用。 </h3>
    <ul>
      <li>
        2020年08月07日
      </li>
    </ul>
    <p>
    本町APAリゾートホテルにて、リモートワークの実施を開始しました。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/fr1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Updated our official homepage </h3>
    <ul>
      <li>
        {{ site.time | date: "%B %e, %Y at %r %Z" }} 
      </li>
    </ul>
    <p>
    This page have been showed renewed up. We'll speak the latest information from this page.
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/fr1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 公式ホームページを更新 </h3>
    <ul>
      <li>
        {{ site.time | date: "%Y年%m月%d日%H時%m分%d秒"}} 
      </li>
    </ul>
    <p>
    当サイトをリニューアルオープン。最新情報を発信していきます。
    </p>
    <a class="project-link" href="#">HOME</a>
  </div>
</div>
